In [80]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
import csv
import json

In [81]:
page_link_automatic = ('https://autochek.africa/cars-for-sale?page_number=1&page_size=13800&transmission=automatic')
r_auto = requests.get(page_link_automatic)
soup_auto = BeautifulSoup(r_auto.text, 'html.parser')

In [82]:
p_auto = soup_auto.find_all('script',id="__NEXT_DATA__")
paragraphs_auto = []
for x in p_auto:
    paragraphs_auto.append(str(x))

In [83]:
data_auto = json.loads(x.string)
data_auto.keys()

dict_keys(['props', 'page', 'query', 'buildId', 'isFallback', 'gssp', 'appGip', 'locale', 'locales', 'defaultLocale', 'head'])

In [84]:
g_auto= pd.DataFrame(data_auto['props']['pageProps']['cars'])
g_auto

           False        0.0
13796            False        0.0
13797            False        0.0
13798            False        0.0
13799            False        0.0

[13800 rows x 17 columns]

In [85]:
data_auto=g_auto.drop(['id','imageUrl', 'state', 'hasWarranty', "gradeScore",'marketplaceOldPrice','hasFinancing',"mileageUnit", 	"installment" ,	"depositReceived" ,	"loanValue"],axis=1)

In [86]:
data_auto

54
1        31742
2        40254
3       299999
4       171039
...        ...
13795        0
13796        0
13797    28756
13798        0
13799       91

[13800 rows x 6 columns]

In [87]:
data_auto['Transmission'] ='Automatic'

In [88]:
data_auto

      ...          ...
13795        0    Automatic
13796        0    Automatic
13797    28756    Automatic
13798        0    Automatic
13799       91    Automatic

[13800 rows x 7 columns]

In [89]:
page_link_manual = ('https://autochek.africa/cars-for-sale?page_number=1&page_size=395&transmission=manual')
r_manual = requests.get(page_link_manual)
soup_manual = BeautifulSoup(r_manual.text, 'html.parser')

In [90]:
p_manual = soup_manual.find_all('script',id="__NEXT_DATA__")
paragraphs_manual = []
for x in p_manual:
    paragraphs_manual.append(str(x))

In [91]:
data_manual = json.loads(x.string)
data_manual.keys()

dict_keys(['props', 'page', 'query', 'buildId', 'isFallback', 'gssp', 'appGip', 'locale', 'locales', 'defaultLocale', 'head'])

In [92]:
g_manual= pd.DataFrame(data_manual['props']['pageProps']['cars'])

In [93]:
g_manual

  0
1            0
2            0
3            0
4            0
..         ...
390          0
391          0
392          0
393          0
394          0

[395 rows x 16 columns]

In [94]:
data_manual=g_manual.drop(['id','imageUrl', 'state', 'hasWarranty', 'marketplaceOldPrice','hasFinancing',"mileageUnit", "installment" ,"depositReceived" ,"loanValue"],axis=1)

In [95]:
data_manual

      ...
390           2890000        0
391                 0   123442
392           2315000        0
393           1970000        0
394           8265000        0

[395 rows x 6 columns]

In [96]:
data_manual['Transmission'] ='Manual'

In [97]:
data_manual

             0   123442       Manual
392           2315000        0       Manual
393           1970000        0       Manual
394           8265000        0       Manual

[395 rows x 7 columns]

In [98]:
full_car=[data_auto,data_manual]

In [99]:
cars=pd.concat(full_car)

In [100]:
cars

           0   123442       Manual
392           2315000        0       Manual
393           1970000        0       Manual
394           8265000        0       Manual

[14195 rows x 7 columns]

In [105]:
cars.to_csv('./data/full_car.csv',header=True)